<!DOCTYPE html>
<html>
<head>
<title>Face Capture</title>
</head>

<body>

<h2>Smart Attendance Capture</h2>

<video id="video" autoplay></video>
<button onclick="capture()">Capture</button>

<script>
const video = document.getElementById('video');

navigator.mediaDevices.getUserMedia({ video: true })
.then(stream => {
    video.srcObject = stream;
});

function capture(){
    const canvas = document.createElement('canvas');
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;

    const ctx = canvas.getContext('2d');
    ctx.drawImage(video,0,0);

    const image = canvas.toDataURL("image/png");

    fetch("/recognize/",{
        method:"POST",
        headers:{ "Content-Type":"application/json"},
        body:JSON.stringify({image:image})
    });
}
</script>

</body>
</html>